# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Node modules
node_modules/

# Environment variables
.env

# Build outputs
dist/
build/

# Dependency directories
jspm_packages/

# Temporary files
*.tmp
*.temp

# IDE and editor files
.vscode/
.idea/
*.swp

# OS-specific files
.DS_Store
Thumbs.db

# Vercel files
.vercel/
.vscode/

# Coverage reports
coverage/

# Debug and test output
*.out
*.err
.vercel
